@layer setup, components, pages;
@layer components {
	.article {
		margin-block: 1rem;
		padding-block: 1rem;

		display: grid;
		grid-template-columns: min-content auto;
		gap: 2rem;

		.textContent {
			display: flex;
			flex-direction: column;
			grid-column-end: span 2;
		}
		.image + .textContent {
			grid-column-end: span 1;
		}

		&:not(:last-of-type) {
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: var(--gray-light);
		}

		.bottom {
			display: flex;
			justify-content: space-between;
			font-family: jetbrains, monospace;

			.date {
				color: var(--gray);
			}
		}
		.image {
			aspect-ratio: 6 / 5;

			img {
				display: block;
				height: 100%;
				width: 100%;
				object-fit: cover;
				border-radius: 0.5rem;
				border: 1px solid var(--gray-light);
			}
		}
	}
}
