@import '../fonts/jetbrains.css';

/*
    specifies the layer order
    components overwrite default styles
    pages overwrite components
 */
@layer setup, components, pages;

@layer setup {
	:root {
		--light: #fff5f1;
		--gray-light: #d3dfe5;
		--gray: #84939f;
		--dark: #514646;

		--accent: #a99dd3;
		@media (prefers-color-scheme: dark) {
			--light: #121213;
			--gray-light: #5a656d80;
			--gray: #585e64;
			--dark: #eae2df;

			--accent: #585ea6;
		}
	}
	html,
	body {
		padding: 0;
		margin: 0;
		font-family: sans-serif;
		font-size: 16px;
		line-height: 1.5;

		color: var(--dark);
		background-color: var(--light);
	}

	body {
		display: flex;
		justify-content: space-around;
	}

	h1 {
		font-size: 3rem;
		margin-block: 5rem 3rem;
		text-align: right;
		@media (max-width: 600px) {
			text-align: center;
			font-size: 2.5rem;
		}
	}
	h2 {
		font-size: 2.5rem;
		margin-block: 0.5rem;
		@media (max-width: 600px) {
			font-size: 2rem;
		}
	}
	h3 {
		font-size: 1.25rem;
		line-height: 1.5;
		margin-block: 0.5rem;
		@media (max-width: 600px) {
			font-size: 1.2rem;
		}
	}

	p {
		font-weight: 200;
	}

	a {
		color: var(--focusable-color, inherit);

		text-decoration: var(--focusable-text-decor, none);

		&:hover {
			text-decoration: underline;
		}
		@media (pointer: coarse) {
			text-decoration: underline;
		}
	}

	button,
	input[type='submit'],
	input[type='cancel'],
	input[type='button'],
	input {
		margin: 0;
		padding: 0;

		border-width: 1px;
		border-style: solid;
		border-color: var(--focusable-color, var(--gray));

		cursor: pointer;

		&:focus-visible {
			border-width: 2px;
			margin: -1px;
		}
	}

	input:not(:is([type='submit'], [type='cancel'], [type='button'], [type='checkbox'])) {
		font-size: 16px;
		//background-color: white;
		padding: 0.5rem;
		cursor: text;
	}

	* {
		box-sizing: border-box;

		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		color: inherit;

		&:focus-visible {
			--focusable-color: var(--accent);
			--focusable-text-decor: underline;
			outline: none;
		}
		border-color: var(--gray);
	}

	::selection {
		background: var(--accent);
		color: #fff5f1;
	}
}
