@layer setup, components, pages;
@layer pages {
	.project {
		display: flex;
		flex-direction: column;

		margin-block: 1rem;
		padding-block: 1rem;

		&:not(:last-of-type) {
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: var(--gray-light);
		}

		.visit {
			align-self: end;
		}
	}
}
