@layer setup, components, pages;
@layer components {
	.body {
		// keep content at a book-like readable width on bigger screens
		flex-basis: 90ch;
		padding-inline: 1rem;

		// move footer to bottom of screen if main is not long enough
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 3rem;

		> main {
			display: flex;
			flex-direction: column;
			margin-top: 1rem;

			> section + section {
				border-top-width: 1px;
				border-top-style: solid;
				margin-top: 3rem;
				padding-top: 3rem;
			}
			> section > p {
				margin-bottom: 2rem;
			}
		}

		> footer {
			height: 4rem;
		}
	}
}
