@layer setup, components, pages;
@layer components {
	.footer {
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-weight: 300;
		border-top-width: 1px;
		border-top-style: solid;

		b {
			font-weight: 500;
		}
		svg {
			margin-top: 0.2rem;
		}

		a {
			display: flex;
			gap: 1ch;
		}
	}
}
