@layer setup, components, pages;
@layer pages {
	.published {
		align-self: end;
		font-family: jetbrains, monospace;
	}

	.back {
		align-self: start;
		font-family: jetbrains, monospace;
	}

	.content {
		div:has(> :global(.ch-scrollycoding)),
		& > :global(.ch-codegroup) {
			--jump-out: 450px;

			position: relative;
			width: max(min(90vw, calc(var(--jump-out) * 2)), 100%);
			margin-inline: max(-45vw, calc(var(--jump-out) * -1));
			inset-inline: 50%;

			@media (max-width: 81ch) {
				margin-inline: unset;
				inset-inline: unset;
			}
		}
		:global {
			.ch-frame-buttons,
			.ch-editor-button {
				display: none !important;
			}

			.ch-code-wrapper {
				font-family: jetbrains, monospace;
			}

			.ch-codegroup, 
			.ch-codeblock {
				font-family: jetbrains, monospace;
				white-space: pre-wrap !important;
				background: var(--light);
				border-radius: 0.3rem;
				border: 1px solid var(--gray-light);
			}

			@media (max-width: 81ch) {
				.ch-scrollycoding {
					flex-direction: column-reverse;
				}
				.ch-scrollycoding-sticker {
					// position: sticky !important;
					top: 1rem !important;
					// bottom: 1rem;
					// inset-inline: 1rem;
					width: 100% !important;
				}
			}
		}
	}
}
