@layer pages {
	.content {
		a {
			text-decoration: underline;
		}
		pre, span {
			> code {
				white-space: pre-wrap !important;
				line-height: 2;
				tab-size: 4;
			}
			> span {
				box-decoration-break: clone;
			}
		}
		h3 {
			margin-top: 3rem;
			font-size: 1.5rem;
		}
		p {
			margin-block: 1rem;
		}
		blockquote {
			border-left: 2px solid var(--dark);
			margin-inline: 0;
			padding-inline: 1rem;
			padding-block: .1rem; // against collapsing margins

			background-color: #8883;
			border-radius: .3rem;

		}
		img {
			width: calc(90vw);
			position: relative;
			left: 50%;
			right: 50%;
			margin-inline: calc(-45vw);
			margin-block: 2rem;
			border-radius: .5rem;
			box-shadow: 0 0 1.5rem .2rem hsla(205, 18%, 24%, 0.2);
		}
	}
	.published {
		text-align: right;


	}
	.back {
		display: block;
		margin-top: 3rem;
		margin-bottom: -3.5rem;
	}
}
