@layer pages {
	.content {
		a {
			text-decoration: underline;
		}
		pre, span {
			> code {
				white-space: pre-wrap !important;
				line-height: 2;
				tab-size: 4;
			}
		}
		h3 {
			margin-top: 3rem;
			font-size: 1.5rem;
		}
		p {
			margin-block: 1rem;
		}
	}
	.back {
		display: block;
		margin-top: 3rem;
		margin-bottom: -3.5rem;
	}
}
