@layer setup, components, pages;
@layer components {
	.code {
		font-family: jetbrains, monospace;
		white-space: pre-wrap !important;
		background: var(--light);
		border-radius: 0.3rem;
		border: 1px solid var(--gray-light);
	}

	.inline {
		composes: code;

		box-decoration-break: clone;
		padding: 0.1rem 0.4rem;
	}

	.block {
		composes: code;

		padding: 0.5rem 1rem;
		line-height: 2;
		tab-size: 4;
		font-size: 0.9em;
	}

	.code {
		:global {
			.hljs-doctag,
			.hljs-keyword,
			.hljs-meta .hljs-keyword,
			.hljs-template-tag,
			.hljs-template-variable,
			.hljs-type,
			.hljs-variable.language_ {
				color: var(--code-keyword);
			}

			.hljs-title,
			.hljs-title.class_,
			.hljs-title.class_.inherited__,
			.hljs-title.function_ {
				color: var(--code-function);
			}

			.hljs-attr,
			.hljs-attribute,
			.hljs-literal,
			.hljs-meta,
			.hljs-number,
			.hljs-operator,
			.hljs-selector-attr,
			.hljs-selector-class,
			.hljs-selector-id,
			.hljs-variable {
				color: var(--code-variable);
			}

			.hljs-meta .hljs-string,
			.hljs-regexp,
			.hljs-string {
				color: var(--code-string);
			}

			.hljs-built_in,
			.hljs-symbol {
				color: var(--code-symbol);
			}

			.hljs-code,
			.hljs-comment,
			.hljs-formula {
				color: var(--code-comment);
			}

			.hljs-name,
			.hljs-quote,
			.hljs-selector-pseudo,
			.hljs-selector-tag {
				color: var(--code-quote);
			}

			.hljs-subst {
				color: var(--code-in-string);
			}

			.hljs-section {
				color: var(--code-section);
				font-weight: 700;
			}

			.hljs-bullet {
				color: var(--code-bullet);
			}

			.hljs-emphasis {
				color: var(--code-emphasis);
				font-style: italic;
			}

			.hljs-strong {
				color: var(--code-strong);
				font-weight: 700;
			}

			.hljs-addition {
				color: var(--code-addition);
				background-color: var(--code-addition-background);
			}

			.hljs-deletion {
				color: var(--code-deletion);
				background-color: var(--code-deletion-background);
			}
		}

		--code-keyword: #d73a49;
		--code-function: #6f42c1;
		--code-variable: #005cc5;
		--code-string: #032f62;
		--code-symbol: #e36209;
		--code-comment: #6a737d;
		--code-quote: #6a737d;
		--code-in-string: #22863a;
		--code-section: #24292e;
		--code-bullet: #005cc5;
		--code-emphasis: #735c0f;
		--code-strong: #24292e;
		--code-addition: #24292e;

		--code-addition-background: #22863a;
		--code-deletion: #f0fff4;
		--code-deletion-background: #b31d28;

		@media (prefers-color-scheme: dark) {
			--code-keyword: #ff7b72;
			--code-function: #d2a8ff;
			--code-variable: #79c0ff;
			--code-string: #a5d6ff;
			--code-symbol: #ffa657;
			--code-comment: #8b949e;
			--code-quote: #7ee787;
			--code-in-string: #c9d1d9;
			--code-section: #1f6feb;
			--code-bullet: #f2cc60;
			--code-emphasis: #c9d1d9;
			--code-strong: #c9d1d9;

			--code-addition: #aff5b4;
			--code-addition-background: #033a16;
			--code-deletion: #ffdcd7;
			--code-deletion-background: #67060c;
		}
	}
}
